<h1>商品後台</h1>

<a href='/admin/products'>Products</a> |
<a href='/admin/categories'>Categories</a> |
<a href="/admin/users">Users</a>

<br />
<br />

<a href='/admin/products'>
  <button type="button" class="btn btn-primary">New Product</button>
</a>

<br />
<br />