{{> navBar}}
<br>
<br>
<div class="album py-5 ">
  <div class="container">
    <br>
    {{> messages}}
    <h3>管理者後台</h3>
    <br>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " href="/admin/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/coupons">Coupons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders/discounts">Discount</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/notifications">Notification</a>
      </li>
    </ul>
    <br />
    <div class="row mt-5">
      <div class="col-md-8 m-auto">
        <div class="card card-body">
          <h4 class="text-secondary text-center"> 請勾選要寄送的給使用者</h4>
          {{#each users}}
          <div class="email-box align-items-center">
            <input class="checkbox-eml" type="checkbox" value="{{item-id}}">
            <label>{{this.email}}</label>
            <label></label>
          </div>
          {{/each}}
          <br />
          <button type="button" class="btn btn-outline-success sendCoupon" data-coupon-id="{{coupon_id}}"
            data-email="{{this.email}}">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>