<footer class="footer-area">
    <div class="footer-top bg-gray pt-120 pb-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                    <div class="footer-widget mb-30">
                        <a href="#"><img src="/assets/images/logo/logo-1.png" alt="logo" width="80" height="40"></a>
                        <div class="footer-social">
                            <span>Follow us:</span>
                            <ul>
                                <li><a href="#"><i class=" ti-facebook "></i></a></li>
                                <li><a href="#"><i class=" ti-twitter-alt "></i></a></li>
                                <li><a href="#"><i class=" ti-pinterest "></i></a></li>
                                <li><a href="#"><i class=" ti-vimeo-alt "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                    <div class="footer-widget mb-30 footer-mrg-hm1">
                        <div class="footer-title">
                            <h3>Useful Link</h3>
                        </div>
                        <div class="footer-list">
                            <ul>
                                <li><a href="#">Shopping Cart</a></li>
                                <li><a href="/accounts/wishlist">Wishlist</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-12 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="footer-title">
                            <h3>About us</h3>
                        </div>
                        <div class="footer-list">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Help Center</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-gray-2 ptb-20">
        <div class="container">
            <div class="copyright text-center">
                <p>Copyright &copy; 2019.AJA All rights reserved.<a target="_blank"
                        href="http://sc.chinaz.com/moban/"></a></p>
            </div>
        </div>
    </div>
</footer>