{{!-- Main page --}}
{{> navBar}}
{{> index/slider}}
{{> index/banner}}
{{!-- {{> index/bestSellProducts}} --}}
{{> index/discountArea}}
<div class="product-area pb-60">
    <div class="container">
        <div class="section-title text-center mb-40">
            <h2>熱銷商品</h2>
        </div>
        {{> messages}}
        <div class="row">
            {{!-- 傳輸所有資料至partial -> this --}}
            {{!-- 傳輸products資料至partial -> products=products --}}
            {{> productCard}}
        </div>
    </div>
</div>
{{> footer}}