{{> messages}}

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h4 class="text-center">付款成功</h4>
      <br>
      <a href="/products/main">
        <button type="submit" class="btn btn-primary btn-block">回到商城</button>
      </a>
    </div>
  </div>
</div>