{{> messages}}

<div class="text-center mt-3">
  <div class="addthis_inline_share_toolbox"></div>
</div>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form class="form-signin" action="/signin" method="POST" style="width: 100%;">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        </div>
        <h6 class="text-secondary"><small>(<i class="fas fa-star-of-life text-danger"></i>)</small> 代表必填欄位</h6>
        <div class="form-label-group">
          <label for="email">Email <small>(<i class="fas fa-star-of-life text-danger"></i>)</small></label>
          <input type="text" name="email" id="email" class="form-control" placeholder="Email" value="{{email}}" required
            autofocus>
        </div>
        <div class="form-label-group">
          <label for="password">Password <small>(<i class="fas fa-star-of-life text-danger"></i>)</small></label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password"
            value="{{password}}" required>
        </div>
        <br />
        <button class="btn btn-outline-primary btn-block" type="submit">Submit</button>
        <a href="/signup" class="btn btn-outline-danger btn-block">Sign Up</a>
        <a href="/reset-password" class="btn btn-outline-dark btn-block">Forgot Password</a>
        <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
      </form>
    </div>
  </div>
</div>