<div class="banner-area pt-100 pb-100">
    <div class="container">
        <div class="bg-img pt-100 pb-100 learn-banner" style="background-image:url(/assets/images/bg/banner-bg-1.jpg);">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-11">
                    <div class="banner-content">
                        <h2>經典設計 <br>AJA Designed</h2>
                        <a href="/products/shop">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>