<div class="discount-area pb-100">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-7 col-md-6">
              <div class="discount-img">
                  <a href="#">
                      <img src="/assets/images/banner/banner-1.jpg" alt="discount-img">
                  </a>
              </div>
          </div>
          <div class="col-lg-5 col-md-6">
              <div class="discount-content">
                  <p>Lorem Ipsum is simply dummy text of the <br>printing and typesetting industry.</p>
                  <h2>年終優惠 <br>最高折扣 30%</h2>
                  <p class="bright-color">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                  <div class="discount-btn default-btn btn-hover">
                      <a class="btn-color-theme btn-size-md btn-style-outline" href="/products/6"">立即搶購</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>