{{!----------------------------- slider -------------------------------}}
<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1 dot-style-1 nav-dot-left">
        <div class="single-slider height-100vh bg-img" data-dot="01" style="background-image:url(/assets/images/slider/hm1-bg-1.jpg);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6 col-12 col-sm-6">
                        <div class="slider-sin-img-hm1 slider-sin-mrg1 slider-animated-1">
                            <img class="animated" src="/assets/images/slider/hm1-single-1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-12 col-sm-6">
                        <div class="slider-content-1 slider-animated-1 ml-70">
                            <h3 class="animated">10% off</h3>
                            <h1 class="animated">週年優惠</h1>
                            <p class="animated">購買AJA商品 10% 折扣.</p>
                            <div class="slider-btn-1 default-btn btn-hover">
                                <a class="animated btn-color-theme btn-size-md btn-style-outline" href="/products/shop">馬上行動</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider height-100vh bg-img" data-dot="02" style="background-image:url(/assets/images/slider/hm1-bg-1.jpg);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6 col-12 col-sm-6">
                        <div class="slider-sin-img-hm1 slider-sin-mrg1 slider-animated-1">
                            <img class="animated" src="/assets/images/slider/hm1-single-2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-12 col-sm-6">
                        <div class="slider-content-1 slider-animated-1 ml-70">
                            <h3 class="animated">30% off</h3>
                            <h1 class="animated">康福特 單人椅</h1>
                            <p class="animated">AJA 精選 & 立即擁有 30% 折扣.</p>
                            <div class="slider-btn-1 default-btn btn-hover">
                                <a class="animated btn-color-theme btn-size-md btn-style-outline" href="/products/shop">馬上行動</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
