<div class="sidebar-widget shop-sidebar-border pt-40">
      <h4 class="sidebar-title">Categories 類別</h4>
      <div class="shop-catigory mt-20">
          <ul id="faq">
            {{#each categories}}
              <li> <a href="#">{{this.name}}</a></li>
            {{/each}}
          </ul>
      </div>
  </div>