<div class="shop-price-filter mt-35 shop-sidebar-border pt-40 sidebar-widget">
  <h4 class="sidebar-title">Price Filter 價格範圍</h4>
  <div class="price-filter mt-20">
      <span>價格:  $100 - 1,00000 </span>
      <div id="slider-range"></div>
      <div class="price-slider-amount">
          <div class="label-input">
              <input type="text" id="amount" name="price" placeholder="Add Your Price" />
          </div>
          <button type="button">結果</button>
      </div>
  </div>
</div>