<div class="shop-topbar-wrapper">
    <div class="shop-topbar-left">
        <p>顯示 1 - 20 of 30 結果 </p>
    </div>
    <div class="product-sorting-wrapper">
        <div class="product-shorting shorting-style">
            <label>顯示個數:</label>
            <select>
                <option value=""> 20</option>
                <option value=""> 23</option>
                <option value=""> 30</option>
            </select>
        </div>
        <div class="product-show shorting-style">
            <label>排序:</label>
            <select>
                <option value=""> 預設</option>
                <option value=""> 名稱</option>
                <option value=""> 價格</option>
            </select>
        </div>
    </div>
</div>